    .modal{
    position:relative;
    width: 550px;
    height: 332px;
    inset: 0;
    margin: auto;
    padding: 64px;
    border-radius: 32px;
    gap: 32px;
    background: rgba(31, 32, 35, 1);
    color: white;


}
