    .modal{
    position: absolute;
    width: 550px;
    height: 332px;
    inset: 0;
    margin: auto;
    padding: 64px;
    border-radius: 32px;
    gap: 32px;
    background: rgb(80, 103, 172);
    color: white;
    z-index: 1000;
}
