*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --color-primary: #1F2023;
    --font-size-medium: 16px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: var(--color-primary);
    font-size: var(--font-size-medium);

  }