@import "./varCss/colors.module.css";
@import "./varCss/fonts.module.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  body{
    font-family: "tomate-font", sans-serif;
  
    color: var(--color-white);
    background-color: var(--color-primary);
    font-size: var(--font-size-medium);

  }
  
