  
  :root {
    /* colors */
    --color-primary: #1F2023;
    --color-white: #f9f9f9;
    --color-gray-medium:#EBEBEB;
    --color-gray-hover: #DCDCDC;
    --color-accent-red-primary:#99000F;
    --color-red-hover: #75000B;
    --color-error-message:  #FF8368;
    --color-accent-darkmode: #FF5733;
    
  }