  
  :root {
  
    /*fonts*/
    --font-size-small: 16px;
    --font-size-medium: 20px;
    --font-size-large: 40px;
    
  }
  .itemsDeployContainer,
  .hidden{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in;
    opacity: 0;
    animation: slideDown 0.5s ease-in;
   
  }
  .hidden{
    max-height: 300px; /* Ajusta la altura máxima deseada */
    opacity: 1;

  }