.linesContainer,
.containerDeployItemsClass{
  transition: 300ms;
  overflow: hidden;
  transition: max-height 0.3s ease-in;
  animation: slideDown 0.3s ease-in;
}
.linesContainer{
    margin-left: -20px;
}