@import "../../varCss/colors.module.css";
@import "../../varCss/fonts.module.css";

.aside{
    margin: 0 15px ;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items:first center;
    gap: 8px;
    width: 358px;
    height: 82vh;
    border-radius: 16px;
    background: var(--color-gradient);
    box-shadow: var(--standard-shadow);
}
.sectionOne{
    width: 320px;
    height: 285vh;
    margin-top: 25px;
    max-height: 800px;
    overflow-y: auto;
    overflow-x: hidden;
}
.sectionTwo{
    width: 326px;
    height: 500px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
.hidden{
    display: none;
}


.isActive{
    gap: 15px;
    padding:15px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height:46px;
    border-radius: 8px;
    margin: 5px;
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-gray-medium);
    transition: 400ms;  
}
.notActive{
    gap: 15px;
    padding:15px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height:46px;
    border-radius: 8px;
    margin: 5px;
    text-decoration: none;
    color: var(--color-white);
    transition: 300ms;  
}
.notActive:hover{
    background-color: var(--color-gray-medium);
}
.isActiveDeploy{
    display: flex;
    margin-left: 3vw;
    position: relative;
    margin-left: 1vw;
    width: 160px;
    height: 30px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 12px;
    transition: 200ms;
    width: 254px;
    height: 52px;
    padding: 5px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--color-white); 
    font-weight: 700;
    transition: 300ms;

}
.notActiveDeploy{
    display: flex;
    margin-left: 3vw;
    position: relative;
    margin-left: 1vw;
    width: 160px;
    height: 30px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 12px;
    transition: 200ms;
    width: 254px;
    height: 52px;
    padding: 5px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--color-white); 
    transition: 300ms;

}
.separator{
 width: 100px;
}
.itemTittle{
    display: flex;
    justify-content: flex-start;
    width: 200px;
}
 
.icon{
    width: 27px;
    height: 26px;
    transition: 400ms;
    margin-right: 5px;
}
.arrowIcon{
    width: 7.5;
    height: 12px; 
    margin-right: 3.2px;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
}

.isActive .arrowIcon{
    transform: rotate(180deg);
}
.isActive .icon{
    transform: rotate(10deg);
   
}


/* HOVER */
.container:hover, 
.containerWith:hover, 
.selectedItem:hover, 
.selectedItemAlter:hover{
    background-color:  #f9f9f915;
}

/*  ASIDE SCROLL BAR*/

.sectionOne::-webkit-scrollbar {
    width: 10px; 
  }
  
  .sectionOne::-webkit-scrollbar-thumb {
    background-color: rgba(249, 249, 249, 0.15); 
    border-radius: 5px; 

  }
  

 .configContainer{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
 }
 
 .iconDivider{
    width: 300px;
 }

 .itemsDeployContainer,
 .deployContainer{
    display: flex;
    margin-left: 3vw;
    position: relative;
 }
 @keyframes aparecerDesdeArriba {
    from {
        display: none;

      transform: translateY(0);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
 .redLine{
    margin-left: -4px;
    position: absolute;
    transition: 400ms;
    height: 40px;
 }
.iconContainer,
.configContainer{
    display: flex;
    gap: 15px;
    align-items: center;
}
.iconAyuda,
.iconConfig{
    display: flex;
    gap: 15px;
    margin: 12px 25px;
    text-decoration: none;
    color: var(--color-white);
}
.linesContainer{
    margin-left: -20px;
}
.line{
    height: 250px;
}

 
  