@import "../../varCss/colors.module.css";
@import "../../varCss/fonts.module.css";

.loginPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--color-white);
}
.header{
    width: 1,888px;
    height: 104px;
    padding: 24px, 32px, 24px, 32px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    margin: 2vh 30px;
}
.bienvenido{
  font-size: var(--font-size-large);
}


.checkboxInputContainer{
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: var(--font-size-small);
  margin-left: 0.3vw;
}
.checkboxInput{
  width: 24px;
  height: 24px;
  border-radius: 6px;
  background-color: #333; 

}
.selectInput{
    position: absolute;
    background-color: #5755559f; 
    appearance: none; 
    width: 80px;
    border: none;
    width: 144.18px;
    height: 56px;
    border-radius: 8px;
    text-indent: 32px;
    z-index: 10;
    color: var(--color-white);
    font-size: var(--font-size-small);
    outline: none;
}



/* lenguaje select */
.lenguajeSelect{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none; 
    outline: none; 
    cursor: pointer; 
    width: 144.18px;
    height: 56px;
    padding: 16px, 32px, 16px, 32px;
    border-radius: 8px;
    gap: 16px;
    margin-right: 35px;
    z-index: 5;

  }
  
  .lenguajeSelect:hover {
    background-color: #aca6a6; 
  }
  
  .lenguajeSelect:focus {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7); 
    z-index: 5;
  }
  .arrowSelect{
    z-index: 100;
    margin-left: 70px;
  }

  /* central section */
  .centerContainer{
    display: flex;
    justify-content: center;
    gap: 5vw;
  }
  .logoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 406px;
    padding: 56px, 112px, 56px, 112px;
    border-radius: 56px;
    gap: 32px;
    background: linear-gradient(180deg, rgba(249, 249, 249, 0.15) 0%, rgba(249, 249, 249, 0.03) 100%);
    box-shadow: 5px 5px 10px 0px #0000001A;
    font-size: 30px;
  }
  .formContainer{
    width: 800px;
    height: 406px;
    padding: 56px, 112px, 56px, 112px;
    border-radius: 56px;
    background: linear-gradient(180deg, rgba(249, 249, 249, 0.15) 0%, rgba(249, 249, 249, 0.03) 100%);
    box-shadow: 5px 5px 10px 0px #0000001A;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer{
    display: flex;
    justify-content: space-between;
    margin: 4vh;
  }
  .checkboxContainer{
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }
  
  .form{
    display: flex;
    flex-direction: column;
    width: 85%;
    gap: 1vh;
    
  }

  .inputForm{
    width: 672px;
    height:48px;
    padding: 12px, 16px, 12px, 16px;
    border-radius: 8px;
    background: #F9F9F91A;
    border: none;
    outline: none;
    text-indent: 20px;
    color: var(--color-white);
    font-size: var(--font-size-small);
  }
  .inputForm::placeholder{
    text-indent: 20px;
    font-size: var(--font-size-small);
    color: rgba(240, 248, 255, 0.568);
  }
  .btnEntrar{
    width: 672px;
    height: 48px;
    padding: 12px, 16px, 12px, 16px;
    border-radius: 8px;
    gap: 8px;
    background: #F9F9F91A;
    transition: 300ms;
    border: none;
    color: var(--color-white);
    font-size: var(--font-size-small);
  }
  .btnEntrar:hover{
    background: #75000B;
  }
  .formTittle{
    font-size: 28px;
    margin: 6.5vh 26vw 3vh 0;
  }
  .linksContainer{
    display: flex;
    gap: 10px;
    margin-left: 1.5vw;
    align-items: center;
  }
 .links{
  text-decoration: none;
  color: var(--color-white);
  font-size: var(--font-size-small);
 }
 .copyrigth{
  margin-right: 1.5vw;
 }
 .checkboxInputContainer{
  display: flex;
  align-items: center;
 }
 .checkboxLabel{
  font-size: var(--font-size-small);
  cursor: pointer;
  user-select: none;
 }

 .checkboxInputNew {
  appearance: none; 
  -webkit-appearance: none; /* navegadores basados en Webkit (Safari) */
  -moz-appearance: none; /* navegadores basados en Gecko (Firefox) */
  width: 24px;
  height: 24px; 
  border: 2px solid #333; 
  background-color: #F9F9F91A;
  border-radius: 6px; /* Bordes redondeados */
  cursor: pointer;
}
.checkboxInputNew:checked {
  content: '\2713'; /* Unicode para el símbolo de marca de verificación */
  background-color: rgba(218, 204, 204, 0.63);
}
.pass{
  color: var(--color-white);
  font-size: var(--font-size-small);
  margin-right: 1vw;
}






